/*GLOBALS*/
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}

body{
  margin: 0;

}

.line {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 108, 168) 0%, rgb(0, 109, 168) 1%, rgb(0, 148, 176) 51%, rgb(0, 148, 176) 100%);
}

/* HEADER */
header {
    margin: 0;
    position: relative;
    display:block;
    width: 100%;
    background: rgba(255,255,255,0.7);
    background-repeat: repeat;

}

header:after{
  content: "";
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/worn_dots.png) rgba(0, 0, 0, 0.701961);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


header .row{
  lost-center:1480px;
  padding-top: 50px;

      h1 {
        font-family: 'Gotham Rounded', Helvetica, sans-serif;
        font-weight: medium;
        font-size: 25px;
        background: rgba(238, 238, 238,0.8);
        border-radius: 5px;
        display:inline-block;
        padding: 8px 12px 8px 12px;
        margin: 0;

      }
      h2 {
        text-align: center;
        font-family: 'Gotham Rounded Book', Helvetica, sans-serif;
        font-size: 16px;
        line-height: 0px;

      }

      .left{
        lost-column: 1/3;
        margin-bottom: -30px;
      }

      .center{
      lost-column: 1/3;
      float:right;
      width: 100%;
      height: 60px;
      text-align: center;
      }

      .right{
        width: 335px;
        top: 120px;
        right:80px;
        position: absolute;


      }



}

input{
  height: 38px;
  font-size: 12px;
  line-height: 17px;
  color: rgb(62, 62, 62);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 9px;
  border-radius: 3px;
  transition: none;
  border-width: 1px;
border-style: solid;
border-color: rgb(204, 204, 204);
border-image: initial;
}


.btn{
font-family: 'Gotham Rounded', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 1px;
text-transform: uppercase;
display: inline-block;
transition: all 0.3s ease;
border-radius: 5px;
padding: 13px 28px;
border: 0;
}

.btn-gradient{
      float: right;
      margin-left: -4px;
      border-radius: 0px 5px 5px 0px;
      color: white;
      background: linear-gradient(to right, rgb(0, 108, 168) 0%, rgb(0, 109, 168) 1%, rgb(0, 148, 176) 51%, rgb(0, 148, 176) 100%) transparent;
}

.btn:hover{
  color: black;
  background-color: transparent;
}


.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 170px;
	width: calc(100% - 2em);
	vertical-align: top;

  @media (max-width: 1500px) {
           display: none;
       }
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
  color: linear-gradient(to right, rgb(0, 108, 168) 0%, rgb(0, 109, 168) 1%, rgb(0, 148, 176) 51%, rgb(0, 148, 176) 100%) transparent;
	font-weight: bold;
	font-family: "Gotham Rounded", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
  color: rgb(0, 108, 168);
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  font-family: "Gotham Rounded", Helvetica, Arial, sans-serif;

}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Isao */
.input__field--isao {
	z-index: 10;
	padding: 0;
	width: 100%;
	background: #fff;
  color: rgb(0, 108, 168);
}

.input__label--isao {
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 100%;
	color: #000;
	text-align: left;
}

.input__label--isao::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	-webkit-transform: scale3d(1, 0.4, 1);
	transform: scale3d(1, 0.4, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--isao::after {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75em 0.15em;
  color: rgb(0, 108, 168);
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::before {
  background: linear-gradient(to right, rgb(0, 108, 168) 0%, rgb(0, 109, 168) 1%, rgb(0, 148, 176) 51%, rgb(0, 148, 176) 100%) transparent;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.input__field--isao:focus + .input__label--isao {
	pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__label-content--isao {
	padding: 0.75em 0.15em;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--isao:focus + .input__label--isao .input__label-content--isao {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.video{
    margin-top: 30px;
    lost-center:1180px;
    box-shadow: rgba(0, 0, 0, 0.560784) -2px 99px 57px -92px;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
