<header class="header">
  <div class="line"></div>
  <div class = "row">
  <div class="left">
    <img src="assets/logo.svg" class="img-responsive" alt="Responsive image">
  </div>
    <div class="center">
      <h1>Because you're more than a sheet of paper</h1>
      <h2>Create your video resúme and connect with other people</h2>
    </div>

    <div class="right">
      <button class="btn btn-gradient">Early Access</button>
    </div>
  </div>
  <div class="video">
            <div class='embed-container'><iframe src='http://player.vimeo.com/video/66140585' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div
              <!-- /End Container Hero-Section -->
          </div>
    </div>

</header>
