
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 700px;
	width: calc(100% - 2em);
	vertical-align: top;

}

.input__field {
  text-align: center;
	position: relative;
	width: 232px;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
  color: linear-gradient(to right, rgb(0, 108, 168) 0%, rgb(0, 109, 168) 1%, rgb(0, 148, 176) 51%, rgb(0, 148, 176) 100%) transparent;
	font-weight: bold;
	font-family: "Gotham Rounded Book", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 35%;
  color: rgb(0, 108, 168);
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  font-family: "Gotham Rounded", Helvetica, Arial, sans-serif;

}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}


/* Kyo */
.input--kyo {
	z-index: auto;
}

.input__field--kyo {
	border-radius: 5px;
	background: #fff;
	color: #535d92;
}

.input__label--kyo {
	z-index: 0;
	padding: 0 0 0 2em;
	text-align: left;
}

.input__label--kyo::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background: url('../assets/logo_white.svg'), linear-gradient(to right, rgb(0, 108, 168) 0%, rgb(0, 109, 168) 1%, rgb(0, 148, 176) 51%, rgb(0, 148, 176) 100%) transparent;
  background-repeat: no-repeat;
  background-position: 48% 30%;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
}

.input__label-content--kyo {
	padding: 0.5em 0;
}

.input__field--kyo:focus,
.input__field--kyo:focus +  .input__label--kyo .input__label-content--kyo,
.btn-white {
	z-index: 10000;
}

 .input__field--kyo:focus  ~ .btn-white  {
   color: #fff;
   background-color: transparent;
   border: 2px solid #fff;
 }

.input__field--kyo:focus + .input__label--kyo,  .input__field--kyo:focus  ~ .btn-white  {
	color: #fff;
}

.input__field--kyo:focus + .input__label--kyo::after, .btn-white--kyo + .input__label--kyo::after {
	opacity: 1;
}



.early_access{
background: #E8E8E8;
width: 100%;
text-align: center;
padding-bottom: 30px;
z-index: 199;


h2 {
  text-align: center;
  font-family: 'Gotham Rounded', Helvetica, sans-serif;
  font-size: 26px;
  font-weight: medium;

}

.response{
color: black;

}



.center {
  margin-top: 20px;
  padding-top: 20px;
  lost-center:600px;
}
}

.btn-white{
  display: block;
  margin: auto;
  margin-top: 10px;
  position: relative;
}

.response{
	color: white;
	font-family: 'Gotham Rounded', Helvetica, sans-serif;
	font-weight: 300;
	margin-top: 10px;

}
