


<footer class="footer-distributed">

  <div class="footer-left">

    <img width="200px" src="assets/logo_white.svg" alt="logo_white"/>


    <p class="footer-company-name">Viwi, Inc. &copy; 2016</p>
  </div>

  <div class="footer-center">
      <span class="input input--footer">
        <h2 class= "header--footer" >Be the first one to show the best of yourself</h2>
      <form action="//myviwi.us14.list-manage.com/subscribe/post?u=27b26d86f7e529c4e3a96be88&amp;id=b47cf3f9fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="input__field input__field--footer" placeholder="example@domain.com" type="text" id="input-19" />
        <button  id="mc-embedded-subscribe" class="btn btn-white">Request Early Access</button>
        <div id="mce-responses" class="clear">
  <div class="response" id="mce-error-response" style="display:none"></div>
  <div class="response" id="mce-success-response" style="display:none"></div>
</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_27b26d86f7e529c4e3a96be88_b47cf3f9fc" tabindex="-1" value=""></div>
      </form>
      </span>
    </div>

  <div class="footer-right">
<div class="footer-company-about">
  <p>
    <span>About the company</span>
Nowadays video is playing an important role in the way new generations interact and communicate. They've grown using video driven platforms like Youtube, Instagram, Snapchat, among others. Viwi is video for professionals. Write us: founders@myviwi.com
</p>
  <div class="footer-icons">

    <a  target="_blank" href="https://facebook.com/myviwi"><i class="fa fa-facebook"></i></a>
    <a  target="_blank" href="https://twitter.com/myviwi"><i class="fa fa-twitter"></i></a>
    <a  target="_blank" href="https://linkedin.com/id/viwi"><i class="fa fa-linkedin"></i></a>
    <a  target="_blank" href="https://github.com/myviwi"><i class="fa fa-github"></i></a>

  </div>
</div>


  </div>

</footer>
