<!DOCTYPE HTML>
<html class="layout">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Resúme, Curriculum Vitae, CV, Video, LinkedIN, Jobs, Bio, Biography, précis, synopsis, work history, vita, summary, abstract, digest, review, life history"/>
    <meta name="description" content="Next Generation Resumés. Nowadays video is playing an important role in the way new generations interact and communicate. Viwi is video for professionals"/>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link async rel="stylesheet" href="styles/bundle.css">
    <link  async rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <title>Viwi. You're more than a sheet of paper</title>
</head>

<body class="layout__body">

    {{> dfmarulanda}}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85173707-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
