<section class="profiles">
    <div class="profiles_box">
        <div class="snip1093">
            <img src="/assets/daniel.JPG" alt="viwi_4" />
            <div class ="bordertest">
                <h2>Daniel<span> Marulanda</span></h2>
                <p>Chief Executive Officer </p>
                <div class="charts">
                    <div class="chart">
                      <div id="bluecircle" data-percent="77"  data-animate="true" class="small dark">
                      </div>
                        <p class="chart_label">Decision Making
                            <p>
                    </div>

                    <div class="chart">
                      <div id="bluecircle" data-percent="80"  data-animate="true" class="small dark">
                      </div>
                        <p class="chart_label">Mobile Development
                            <p>
                    </div>


                    <div class="chart">
                      <div id="bluecircle" data-percent="71"  data-animate="true" class="small dark">
                      </div>
                        <p class="chart_label">Team Management
                            <p>
                    </div>


                </div>
            </div>
          </div>

          <div class="snip1093">
            <img src="/assets/cristian.JPG" alt="viwi_3" />
              <div class ="bordertest">
                  <h2>Cristian Camilo<span> Morales</span></h2>
                  <p>Chief Technology Officer </p>
                  <div class="charts">
                      <div class="chart">
                        <div id="bluecircle" data-percent="67"  data-animate="true" class="small dark">
                        </div>
                          <p class="chart_label">Project Management
                              <p>
                      </div>

                      <div class="chart">
                        <div id="bluecircle" data-percent="80"  data-animate="true" class="small dark">
                        </div>
                          <p class="chart_label">GIT
                              <p>
                      </div>


                      <div class="chart">
                        <div id="bluecircle" data-percent="76"  data-animate="true" class="small dark">
                        </div>
                          <p class="chart_label">Node.JS Development
                              <p>
                      </div>


                  </div>
              </div>
            </div>


            <div class="snip1093">
              <img src="/assets/sebas.JPG" alt="viwi_2" />
                <div class ="bordertest">
                    <h2>Sebastian<span> Escobar</span></h2>
                    <p>Chief Marketing Officer </p>
                    <div class="charts">
                        <div class="chart">
                          <div id="bluecircle" data-percent="60"  data-animate="true" class="small dark">
                          </div>
                            <p class="chart_label">Illustration
                                <p>
                        </div>

                        <div class="chart">
                          <div id="bluecircle" data-percent="72"  data-animate="true" class="small dark">
                          </div>
                            <p class="chart_label">Motion Designer
                                <p>
                        </div>


                        <div class="chart">
                          <div id="bluecircle" data-percent="65"  data-animate="true" class="small dark">
                          </div>
                            <p class="chart_label">Sales
                                <p>
                        </div>


                    </div>
                </div>
              </div>

              <div class="snip1093">
                <img src="/assets/alex.JPG" alt="viwi_1" />
                  <div class ="bordertest">
                      <h2>Alejandro<span> Aristizabal</span></h2>
                      <p>Chief Operating Officer </p>
                      <div class="charts">
                          <div class="chart">
                            <div id="bluecircle" data-percent="85"  data-animate="true" class="small dark">
                            </div>
                              <p class="chart_label">Music Production
                                  <p>
                          </div>

                          <div class="chart">
                            <div id="bluecircle" data-percent="70"  data-animate="true" class="small dark">
                            </div>
                              <p class="chart_label">Filmmaking
                                  <p>
                          </div>


                          <div class="chart">
                            <div id="bluecircle" data-percent="60"  data-animate="true" class="small dark">
                            </div>
                              <p class="chart_label">Management
                                  <p>
                          </div>


                      </div>
                  </div>
                </div>

        </div>
</section>
